In [1]:
import pandas as pd
import numpy as np

In [23]:
df = pd.read_csv(".csv")
df1= df.loc[:,['ProductCode', 'Year', 'TradeFlowCode','TradeValue in 1000 USD','Quantity']]

df1 = df1.fillna(0)

y = len(df1.columns)
x = len(df1)
df2 = df1.copy()

unit_ratios = []
unit_years = []
unit_code = []
for i in range(x-1):
    if df2.ProductCode[i]==df2.ProductCode[i+1] and (df2.Year[i] == df2.Year[i+1]):
        if df2.loc[i+1,'Quantity'] == 0:
            unit_code.append(df2.ProductCode[i])
            unit_ratios.append(0)
            unit_years.append(df2.Year[i])
        else:
            ratio = (df2.loc[i,'TradeValue in 1000 USD']/df2.loc[i,'Quantity'])/(df2.loc[i+1,'TradeValue in 1000 USD']/df2.loc[i+1,'Quantity'])
            unit_code.append(df2.ProductCode[i])
            unit_ratios.append(ratio)
            unit_years.append(df2.Year[i])

Base_data = pd.DataFrame(data=dict(Code=unit_code, Year = unit_years, Ratio = unit_ratios))

x = len(Base_data)

#Categorization of Data

for i in range(x):
    if Base_data.Ratio[i] < 0.85:
        Base_data.loc[i,'Category'] = 'LVIIT'
    elif Base_data.Ratio[i] > 1.15:
        Base_data.loc[i,'Category'] = 'HVIIT'
    else:
        Base_data.loc[i,'Category'] = 'HIIT'

IIT_index_cal = Base_data.drop(columns = ['Ratio'], axis=1)

IIT_index_cal.rename(columns={'Code':'ProductCode'}, inplace=True)

LVIIT_0 = IIT_index_cal[IIT_index_cal.Category == 'LVIIT']
HIIT_0 = IIT_index_cal[IIT_index_cal.Category == 'HIIT']
HVIIT_0 = IIT_index_cal[IIT_index_cal.Category == 'HVIIT']

LVIIT = pd.merge(df2, LVIIT_0, on=['ProductCode', 'Year'])
HIIT = pd.merge(df2, HIIT_0, on=['ProductCode', 'Year'])
HVIIT = pd.merge(df2, HVIIT_0, on=['ProductCode', 'Year'])

#Index Calculation

Index_values = pd.DataFrame()

x = len(HIIT)

Index_df = pd.DataFrame()
for i in range(int(x/2)):
    Index_df.loc[i,'ProductCode'] = HIIT.loc[2*i, 'ProductCode']
    Index_df.loc[i,'Year'] = HIIT.loc[2*i, 'Year']
    Index_df.loc[i,'Sum'] = HIIT.loc[2*i,'TradeValue in 1000 USD']+HIIT.loc[2*i+1,'TradeValue in 1000 USD']
    Index_df.loc[i,'Diff'] = abs(HIIT.loc[2*i,'TradeValue in 1000 USD']-HIIT.loc[2*i+1,'TradeValue in 1000 USD']) 
Index_group = Index_df.groupby(['Year']).sum()
Index_group['Ratio']=1-Index_group['Diff']/Index_group['Sum']
Index_values['HIIT'] = Index_group.Ratio    

x = len(HVIIT)
Index_df = pd.DataFrame()
for i in range(int(x/2)):
    Index_df.loc[i,'Year'] = HVIIT.Year[2*i]
    Index_df.loc[i,'Sum'] = HVIIT.loc[2*i,'TradeValue in 1000 USD']+HVIIT.loc[2*i+1,'TradeValue in 1000 USD']
    Index_df.loc[i,'Diff'] = abs(HVIIT.loc[2*i,'TradeValue in 1000 USD']-HVIIT.loc[2*i+1,'TradeValue in 1000 USD']) 
Index_group = Index_df.groupby(['Year']).sum()
Index_group['Ratio']=1-Index_group['Diff']/Index_group['Sum']
Index_values['HVIIT'] = Index_group.Ratio    

x = len(LVIIT)
Index_df = pd.DataFrame()
for i in range(int(x/2)):
    Index_df.loc[i,'Year'] = LVIIT.Year[2*i]
    Index_df.loc[i,'Sum'] = LVIIT.loc[2*i,'TradeValue in 1000 USD']+LVIIT.loc[2*i+1,'TradeValue in 1000 USD']
    Index_df.loc[i,'Diff'] = abs(LVIIT.loc[2*i,'TradeValue in 1000 USD']-LVIIT.loc[2*i+1,'TradeValue in 1000 USD']) 
Index_group = Index_df.groupby(['Year']).sum()
Index_group['Ratio']=1-Index_group['Diff']/Index_group['Sum']
Index_values['LVIIT'] = Index_group.Ratio    

data_country = df.loc[1,'ReporterName']
type(data_country)
with pd.ExcelWriter(r'HIIT_LVIIT_HVIIT_'+data_country+r'.xlsx') as writer:  
    Index_values.to_excel(writer, sheet_name=data_country)

C:\Users\Piyush A\Anaconda3\lib\site-packages\ipykernel_launcher.py:20: RuntimeWarning: divide by zero encountered in double_scalars

In [28]:
for i in range(3):    
    df = pd.read_csv(str(i)+".csv")
    df1= df.loc[:,['ProductCode', 'Year', 'TradeFlowCode','TradeValue in 1000 USD','Quantity']]

    df1 = df1.fillna(0)

    y = len(df1.columns)
    x = len(df1)
    df2 = df1.copy()

    unit_ratios = []
    unit_years = []
    unit_code = []
    for i in range(x-1):
        if df2.ProductCode[i]==df2.ProductCode[i+1] and (df2.Year[i] == df2.Year[i+1]):
            if df2.loc[i+1,'Quantity'] == 0:
                unit_code.append(df2.ProductCode[i])
                unit_ratios.append(0)
                unit_years.append(df2.Year[i])
            else:
                ratio = (df2.loc[i,'TradeValue in 1000 USD']/df2.loc[i,'Quantity'])/(df2.loc[i+1,'TradeValue in 1000 USD']/df2.loc[i+1,'Quantity'])
                unit_code.append(df2.ProductCode[i])
                unit_ratios.append(ratio)
                unit_years.append(df2.Year[i])

    Base_data = pd.DataFrame(data=dict(Code=unit_code, Year = unit_years, Ratio = unit_ratios))

    x = len(Base_data)

    #Categorization of Data

    for i in range(x):
        if Base_data.Ratio[i] < 0.85:
            Base_data.loc[i,'Category'] = 'LVIIT'
        elif Base_data.Ratio[i] > 1.15:
            Base_data.loc[i,'Category'] = 'HVIIT'
        else:
            Base_data.loc[i,'Category'] = 'HIIT'

    IIT_index_cal = Base_data.drop(columns = ['Ratio'], axis=1)

    IIT_index_cal.rename(columns={'Code':'ProductCode'}, inplace=True)

    LVIIT_0 = IIT_index_cal[IIT_index_cal.Category == 'LVIIT']
    HIIT_0 = IIT_index_cal[IIT_index_cal.Category == 'HIIT']
    HVIIT_0 = IIT_index_cal[IIT_index_cal.Category == 'HVIIT']

    LVIIT = pd.merge(df2, LVIIT_0, on=['ProductCode', 'Year'])
    HIIT = pd.merge(df2, HIIT_0, on=['ProductCode', 'Year'])
    HVIIT = pd.merge(df2, HVIIT_0, on=['ProductCode', 'Year'])

    #Index Calculation

    Index_values = pd.DataFrame()

    x = len(HIIT)

    Index_df = pd.DataFrame()
    for i in range(int(x/2)):
        Index_df.loc[i,'ProductCode'] = HIIT.loc[2*i, 'ProductCode']
        Index_df.loc[i,'Year'] = HIIT.loc[2*i, 'Year']
        Index_df.loc[i,'Sum'] = HIIT.loc[2*i,'TradeValue in 1000 USD']+HIIT.loc[2*i+1,'TradeValue in 1000 USD']
        Index_df.loc[i,'Diff'] = abs(HIIT.loc[2*i,'TradeValue in 1000 USD']-HIIT.loc[2*i+1,'TradeValue in 1000 USD']) 
    Index_group = Index_df.groupby(['Year']).sum()
    Index_group['Ratio']=1-Index_group['Diff']/Index_group['Sum']
    Index_values['HIIT'] = Index_group.Ratio    

    x = len(HVIIT)
    Index_df = pd.DataFrame()
    for i in range(int(x/2)):
        Index_df.loc[i,'Year'] = HVIIT.Year[2*i]
        Index_df.loc[i,'Sum'] = HVIIT.loc[2*i,'TradeValue in 1000 USD']+HVIIT.loc[2*i+1,'TradeValue in 1000 USD']
        Index_df.loc[i,'Diff'] = abs(HVIIT.loc[2*i,'TradeValue in 1000 USD']-HVIIT.loc[2*i+1,'TradeValue in 1000 USD']) 
    Index_group = Index_df.groupby(['Year']).sum()
    Index_group['Ratio']=1-Index_group['Diff']/Index_group['Sum']
    Index_values['HVIIT'] = Index_group.Ratio    

    x = len(LVIIT)
    Index_df = pd.DataFrame()
    for i in range(int(x/2)):
        Index_df.loc[i,'Year'] = LVIIT.Year[2*i]
        Index_df.loc[i,'Sum'] = LVIIT.loc[2*i,'TradeValue in 1000 USD']+LVIIT.loc[2*i+1,'TradeValue in 1000 USD']
        Index_df.loc[i,'Diff'] = abs(LVIIT.loc[2*i,'TradeValue in 1000 USD']-LVIIT.loc[2*i+1,'TradeValue in 1000 USD']) 
    Index_group = Index_df.groupby(['Year']).sum()
    Index_group['Ratio']=1-Index_group['Diff']/Index_group['Sum']
    Index_values['LVIIT'] = Index_group.Ratio    

    data_country = df.loc[1,'ReporterName']
    type(data_country)
    with pd.ExcelWriter(r'HIIT_LVIIT_HVIIT_'+data_country+r'.xlsx') as writer:  
        Index_values.to_excel(writer, sheet_name=data_country)

C:\Users\Piyush A\Anaconda3\lib\site-packages\ipykernel_launcher.py:21: RuntimeWarning: divide by zero encountered in double_scalars

In [34]:
from pandas import ExcelWriter
import glob
writer = ExcelWriter("HIIT_LVIIT_HVIIT.xlsx")

for filename in glob.glob("*.xlsx"):
    excel_file = pd.ExcelFile(filename)
    for sheet_name in excel_file.sheet_names:
        df_excel = pd.read_excel(filename, sheet_name=sheet_name)
        df_excel.to_excel(writer, sheet_name, index=False)

writer.save()

In [1]:
#Merging all datasheets into one excel sheet

In [2]:
import pandas as pd

In [26]:
df = pd.concat(pd.read_excel('HIIT_LVIIT_HVIIT_2007_onwards_Rich&PoorCountries.xlsx', sheet_name = None))

In [27]:
df.shape

(455, 4)

In [28]:
df.head()

             Year      HIIT     HVIIT     LVIIT
Argentina 0  2007  0.245565  0.100084  0.104928
          1  2008  0.178334  0.141943  0.102654
          2  2009  0.205973  0.099622  0.092472
          3  2010  0.093932  0.065805  0.104057
          4  2011  0.206153  0.055384  0.104446

In [15]:
df.to_excel("HIIT_LVIIT_HVIIT_2007_onwards_Rich&PoorCountries_merged_dataset.xlsx")

In [29]:
df.keys()

Index(['Year', 'HIIT', 'HVIIT', 'LVIIT'], dtype='object')

In [30]:
df.index

MultiIndex([('Argentina',  0),
            ('Argentina',  1),
            ('Argentina',  2),
            ('Argentina',  3),
            ('Argentina',  4),
            ('Argentina',  5),
            ('Argentina',  6),
            ('Argentina',  7),
            ('Argentina',  8),
            ('Argentina',  9),
            ...
            (  'Uruguay',  2),
            (  'Uruguay',  3),
            (  'Uruguay',  4),
            (  'Uruguay',  5),
            (  'Uruguay',  6),
            (  'Uruguay',  7),
            (  'Uruguay',  8),
            (  'Uruguay',  9),
            (  'Uruguay', 10),
            (  'Uruguay', 11)],
           length=455)

In [31]:
df.reset_index(inplace=True)

In [32]:
df.head()

     level_0  level_1  Year      HIIT     HVIIT     LVIIT
0  Argentina        0  2007  0.245565  0.100084  0.104928
1  Argentina        1  2008  0.178334  0.141943  0.102654
2  Argentina        2  2009  0.205973  0.099622  0.092472
3  Argentina        3  2010  0.093932  0.065805  0.104057
4  Argentina        4  2011  0.206153  0.055384  0.104446

In [35]:
df.drop(columns = ['level_1'], inplace = True)

In [38]:
df.rename(columns = {"level_0":"Country"}, inplace=True)

In [39]:
df.head()

     Country  Year      HIIT     HVIIT     LVIIT
0  Argentina  2007  0.245565  0.100084  0.104928
1  Argentina  2008  0.178334  0.141943  0.102654
2  Argentina  2009  0.205973  0.099622  0.092472
3  Argentina  2010  0.093932  0.065805  0.104057
4  Argentina  2011  0.206153  0.055384  0.104446

In [40]:
df.to_excel("HIIT_LVIIT_HVIIT_2007_onwards_Rich&PoorCountries_merged_dataset.xlsx")